@charset "UTF-8";
.interactive-modal {
	pointer-events: none;
	/* 트랜지션 효과 */
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
	/* 화면 전체를 덮게하는 코드 */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	/* 중앙에 오게하는 코드 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.interactive-modal-content {
	/* 스타일 - customize */
	width: 100%;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	/* 트랜지션 효과 */
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	transform: scale(0.8);
}

.interactive-modal.show {
	/* 모달이 열렸을 때 보여지게 하는 코드 */
	opacity: 1;
	pointer-events: auto;
}

.interactive-modal.show .interactive-modal-content {
	/* 모달이 열렸을 때 보여지게 하는 코드 */
	opacity: 1;
	transform: scale(1);
}