@charset "UTF-8";

.myPrjct{
  margin-left: 27px;
}

.btn-prjct{
  display: flex;
  align-items: center;
}

.btn-prjct .nav-link{
  padding: 5px;
  margin-left: 5px;
}

.side-stick {
  width: 3px;
  height: 20px;
  position: absolute;
  margin-right: 10px;
}

body .scrumboard .card .card-body {
  padding: 10px;
}

.task-summary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*   padding-right: 10px; */
}

.project-task-sub-title {
  padding-left: 15px;
  width: 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.project-task-prjct-title{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.accordion-button {
  padding: 0;
  padding-bottom: 10px;
}

body .task-list-container {
  width: 23%;
}

body .scrumboard .card .card-body .task-body .task-bottom {
  flex-direction: column;
}

.accordion-body {
  padding: 0;
}

.accordion-button::after {
  content: none;
}

.project-mini-body-section {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.project-mini-body-content {
  color: black;
  font-weight: 600;
}

.project-mini-button {
  margin-top: 15px;
  padding: 5px;
  width: 100%;
  text-align: center;
  color: #fff !important;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.project-schedule .schdul-bottom {
  align-items: flex-start;
  padding: 12px 15px;
}

.task-detail-title {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.task-detail-title h5 {
  margin: 0;
}

.task-detail-title .side-stick {
  position: relative;
  width: 3px;
  height: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.modal-task-detail {
  width: 30vw;
  max-width: none;
  height: calc(100vh - 160px);
  margin-top: 100px;
  margin-right: 50px;
}

.modal-task-detail .modal-content {
  height: 100%;
  padding-right: 10px;
}

.task-detail-info-elem {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.task-detail-info-elem > i,img {
  width: 30px;
  display: flex;
  justify-content: center;
}